<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangzhoudianzi.demo.mapper.CourseMapper">

    <resultMap id="CourseResultMap" type="Course">
        <id property="id" column="id" />
        <result property="courseName" column="course_name" />
        <result property="semester" column="semester" />
        <result property="credit" column="credit" />
        <result property="teacherId" column="teacher_id" />
        <result property="beginWeek" column="begin_week" />
        <result property="endWeek" column="end_week" />
        <result property="consecutiveSections" column="consecutive_sections" />
        <result property="classroomType" column="classroom_type" />
        <result property="classroom" column="classroom" />
        <result property="building" column="building" />
        <result property="date" column="date" />
        <result property="compositionClasses" column="composition_classes" />
        <result property="classesId" column="classes_id" />
        <result property="classesName" column="classes_name" />
        <result property="creditHourType" column="credit_hour_type" />
        <result property="priority" column="priority" />
        <result property="classSize" column="class_size" />
        <result property="courseNature" column="course_nature" />
        <result property="externallyHire" column="externally_hire" />
        <result property="department" column="department" />
    </resultMap>


    <!-- 根据ID查询课程 -->
    <select id="getCoursesById" resultType="com.hangzhoudianzi.demo.pojo.people.Course">
        SELECT *
        FROM course
        <where>
            <if test="id != null and id != '' ">
                id = #{id}
            </if>
            <if test="courseName!= null and courseName != '' ">
                and course_name like concat('%',#{courseName}, '%')
            </if>
            <if test="credit!= null and credit != '' ">
                and credit =#{credit}
            </if>
            <if test="teacherId!= null and teacherId != '' ">
                and teacher_id like concat('%',#{teacherId}, '%')
            </if>
        </where>

    </select>
    <select id="getCourseById" resultType="com.hangzhoudianzi.demo.pojo.people.Course">
        <!--        SELECT *-->
        <!--        FROM classroom-->
        <!--        <where>-->
        <!--            <if test="id != null">-->
        <!--                id = #{id}-->
        <!--            </if>-->
        <!--            <if test="building!= null">-->
        <!--                and building like concat('%',#{building}, '%')-->
        <!--            </if>-->
        <!--            <if test="room_number!= null">-->
        <!--                and room_number like concat('%',#{room_number}, '%')-->
        <!--            </if>-->
        <!--            <if test="capacity!= null">-->
        <!--                and capacity =#{capacity}-->
        <!--            </if>-->
        <!--        </where>-->
        select * from course where id =#{id} LIMIT 1
    </select>
<!--    &lt;!&ndash; 新增课程 &ndash;&gt;-->
<!--    <insert id="insertCourse" parameterType="Course">-->
<!--        INSERT INTO course (id, course_name, credit, teacher_id)-->
<!--        VALUES (#{id}, #{courseName}, #{credit}, #{teacherId})-->
<!--    </insert>-->

<!--    &lt;!&ndash; 更新课程 &ndash;&gt;-->
<!--    <update id="updateCourse" parameterType="Course">-->
<!--        UPDATE course-->
<!--        SET course_name = #{courseName},-->
<!--            credit = #{credit},-->
<!--            teacher_id = #{teacherId}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

<!--    &lt;!&ndash; 删除课程 &ndash;&gt;-->
<!--    <delete id="deleteCourse" parameterType="int">-->
<!--        DELETE FROM course WHERE id = #{id}-->
<!--    </delete>-->

</mapper>
